# A. Set up Git and GitHub

- Install Git
- Create a GitHub account
- Create a new repository on GitHub

# B. Create a Virtual Environment in Python locally

# C. Install Pandas, Sklearn and Jupyter in the Virtual Environment

# D. Start putting your Git skills to use

# E. Undergo the following Regression exercise

## 1. Basic data exploration

Given the dataset below (df), perform the following:

In [8]:
import pandas as pd
df = pd.read_csv('./hotel_booking.csv')

Q1) Print out a random sample of 10 rows from the dataset

In [12]:
df.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
58140,City Hotel,1,83,2016,October,41,6,1,3,1,...,Transient,132.30,0,0,Canceled,2016-07-20,Robert Harris,Robert.H@gmail.com,989-115-6781,************2526
32984,Resort Hotel,0,3,2017,February,6,10,0,2,2,...,Transient-Party,122.00,0,1,Check-Out,2017-02-12,Brian Ingram,Brian_I@yahoo.com,405-471-6038,************2859
47740,City Hotel,1,35,2016,March,10,2,0,2,2,...,Transient,100.10,0,1,Canceled,2016-02-09,Christopher Richardson,ChristopherRichardson28@zoho.com,209-348-8682,************4868
41371,City Hotel,0,40,2015,August,33,15,2,2,2,...,Transient-Party,62.00,0,0,Check-Out,2015-08-19,Barbara Bauer,Barbara_Bauer82@yandex.com,759-732-6665,************7259
37932,Resort Hotel,0,47,2017,June,26,25,3,5,2,...,Transient,161.75,0,2,Check-Out,2017-07-03,Ryan Lutz,Ryan.Lutz@att.com,827-725-9149,************4390
23971,Resort Hotel,0,103,2016,May,19,2,2,5,2,...,Transient,46.75,0,0,Check-Out,2016-05-09,Marissa Lucas,Marissa.L@aol.com,494-603-3793,************9323
39714,Resort Hotel,0,83,2017,August,34,21,1,4,2,...,Transient,310.00,0,0,Check-Out,2017-08-26,Benjamin Taylor,Benjamin_T@att.com,316-615-7258,************7890
32633,Resort Hotel,0,5,2017,May,20,15,1,0,1,...,Transient,0.00,1,2,Check-Out,2017-05-16,Erica Palmer,EPalmer@outlook.com,892-999-4109,************4783
108630,City Hotel,0,50,2017,March,13,29,0,1,2,...,Transient,88.20,0,1,Check-Out,2017-03-30,Teresa Willis,Teresa.W@gmail.com,912-502-3354,************5424
73309,City Hotel,1,104,2017,August,33,18,1,2,2,...,Transient,125.00,0,1,Canceled,2017-05-06,Veronica Burnett,Veronica_Burnett@xfinity.com,143-378-2289,************9262

Q2) Display information on the dataset:

Q3) Display the dataset columns

Q4) Display statistical info of the the numeric columns in the dataset

Q5) Count the number of unique hotels in the dataset

Q6) Identify the most popular country of origin for guests

## 2. Data cleaning

Q5) Identify missing values in the columns

Q6) Calculate the precentage of the missing values in the columns

Q7) Examine the precentages of the missing values in the columns and perform missing value handling as needed

## 3. Numeric data analysis

Q8) Calculate the average lead time for bookings

Q9) Determine the maximum and minimum values for 'adr' (average daily rate)

Q10) Compute the total number of booking changes

## 4. Feature engineering

Q11) Create a new column that represents the total number of guests (adults, children, and babies) for each booking

Q12)  Create a new feature that calculates the total duration of stay for each booking. Show how to add this feature to the dataset

Q13) Implement one-hot encoding for the 'market_segment' and 'distribution_channel' categorical columns

## 5. Model building
The goal is to build a Linear Regression model to predict the ADR for future bookings.

Q14) Create a feature matrix (X) and a target vector (y) for training and testing.

Q15) Import the Linear Regression model from a machine learning library such as Scikit-Learn

Q16) Instantiate the Linear Regression model

Q17) Train the model using the training data by calling the fit method

Q18) Make predictions on the test dataset

### 6. Model evaluation

Q19) Evaluate the model's performance using regression metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and Root Mean Squared Error (RMSE)

Q20) Experiment with different feature engineering techniques or consider using regularization methods (e.g., Ridge or Lasso regression) to improve model performance.

# F. Additional: 

- Build a pipeline to automate the data preprocessing and model building steps
- Experiment with different machine learning models (e.g., Random Forest, XGBoost, etc.) to improve model performance
- Experiment with different hyperparameter tuning strategies (e.g., GridSearchCV, RandomizedSearchCV, etc.) to improve model performance
- Experiment with different feature selection techniques (e.g., SelectKBest, Recursive Feature Elimination, etc.) to improve model performance
- Experiment with different feature scaling techniques (e.g., StandardScaler, MinMaxScaler, etc.) to improve model performance
- Visualize the relationship between the target values and the features
- Visualize the predictions of the top best models
- Visualize the residuals of the top best models
- Visualize the coefficients of the top best models